@use "./partials/variables" as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    width: 70%;
    margin: 0 auto;
    height: 200px;
}

h1,
h2{
    color: white;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}